.selectBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
}
.select {
    font-size: 95%;
    display: flex;
    justify-content: space-around;
    padding: 1px;
    border: 1px solid gainsboro;
    font-weight: lighter;

}