.pageBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;

}
.firstItem {
    border-radius: 40px;
    width: 40px;
    display: flex;
    justify-content: space-around;
    padding: 1px;
    border: 1px whitesmoke solid;
    font-weight: lighter;
}
.arrow {
    width: 50px;
    border: 1px solid;
    display: flex;
    justify-content: space-around;
}
.lastItem {
    border-radius: 40px;
    width: 40px;
    display: flex;
    justify-content: space-around;
    padding: 1px;
    border: 1px whitesmoke solid;
    font-weight: lighter;
}
.chosedPage {
    width: 40px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    padding: 3px;
    font-weight: bolder;
    background-color: dodgerblue;
    color: #FFFFFF;
}

.unChosedPage {
    border-radius: 40px;
    width: 40px;
    display: flex;
    justify-content: space-around;
    padding: 1px;
    border: 1px whitesmoke solid;
    font-weight: lighter;
}